$font-text: 'Anton', sans-serif;

$background: #F0F2F0;

body {
	background: $background;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: $font-text;
}

h1{
	color: white;
	text-align: center;
	text-shadow: 3px 3px 0 rgba(black, .3);
	font-size: 40px;
	&~p{
		font-size: 26px;
		text-align: center;
		color: white;
	}
}

div.polaroid {
	margin: 0 auto;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

img{
	width: 100%;
}
iframe{
 width: 100%;
 min-height: 400px;
 border: none;
}
div.wait{
	color: white;
}
